body {
	background: rgb(90, 90, 90);
	font-family: cursive;
}
input{
	background: rgb(90, 90, 90);
	color: rgb(237, 99, 71);
	border-radius: 30px;
	text-align: center;
	width: 20%;
}
button{
	background-color: rgb(90, 90, 90);
	color: rgb(29, 171, 207);
	border-radius: 100px;
	border-color: rgb(90, 90, 90);
}
.home{
	position: fixed;
	margin-left: 2%;
	top: 3%;
	width: 5%;
	background: rgb(200, 200, 200);
	color: rgb(29, 171, 207);
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	}
.home:hover{
	color: rgb(237, 99, 71);
}
.title{
	background: rgb(29, 171, 207);
	margin-left: 12%;
	text-align: center;
	width: 50%;
	border-radius: 15px;
}
.title h1{
	font-family: cursive;
	color: rgb(220, 220, 220);
	font-size: 40px;
}
.content1{
	position: float;
	background: rgb(200, 200, 200);
	margin-left: 2.5%;
	margin-right: 37,5%;
	margin-bottom: 5%;
	width: 60%;
	height: auto;
	border-radius: 10px;
	padding: 3px;
}
.content1 h1{
	margin-left: 5%;
	color: rgb(237, 99, 71);
}
.result{
	margin-left: 5%;
	color: rgb(237, 99, 71);
}
.info{
	margin-left: 5%;
	color: rgb(240, 127, 176);
}
.bottombar {
    position:fixed;
    background: rgb(200, 200, 200);
    align-items: center;
    bottom: 0;
    width: 70%;
    left: 15%;
    border-radius: 20px;
  }
  .bottombar p {
    line-height: 16px;
    color: rgb(29, 171, 207);
    text-align: center;
    display: block;
    margin: 10px;
    font-size: 20px;
  }
